@model CheckLibrary.Models.Book
@{
    ViewBag.Title = "Book";
}
<head>
    <link rel="stylesheet" href="~/css/forms.css" />
</head>
<h1>@ViewBag.Title</h1>

<form asp-action="Edit" class="form">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Title" class="form-label">Title: </label>
            <input asp-for="Title" type="text" size="40"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="CategoryID" class="form-label">Category</label></br>
            <select asp-for="CategoryID" asp-items="@((List<SelectListItem>)@ViewBag.OptCategories)"></select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="AuthorID" class="form-label">Author</label></br>
            <select asp-for="AuthorID" asp-items="@((List<SelectListItem>)@ViewBag.OptAuthors)"></select>
        </div>
    </div>
    <div class="col-auto my-1">
        <button class="btn btn-dark">Save</button>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


