@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @if(ViewBag.UserName != null)
    {
        <h1 class="display-4">Welcome, @ViewBag.UserName</h1>        
    }
    <div class="container-fluid">
        @if (@TempData.ContainsKey("message"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div>@TempData["message"]</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-action="Search">
            <div class="form-group">
                <label for="book">Search Book</label>
                <input type="text" class="form-control" name="wordSearch" />
                <div class="row-cols-6">
                    <button class="btn btn-primary">Search</button>
                    <button type="reset" class="btn btn-dark">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>